@charset "utf-8";
/* CSS Document */

#slider_box {
	text-align: center;
	margin: 5em auto 10em auto;
	padding-top: 3em;
	/*overflow: hidden;*/
	height: 70em;
	width: 80em;}
	
.slideshow {
	display: block;
	margin: 2.5em auto 0 auto;
	width: 80em;
	height: 60em;
	background: url(../images/slider.jpg) repeat-x;
	border-radius: 1em;
	box-shadow: 0 0.5em 2em rgba(0,0,0,.4);
	overflow: hidden;
	-webkit-transition: background .4s ease;	/*Hack, damit in Safari Bilder schweben, nicht nur ersetzt werden.*/
	transition: background .4s ease;} 

.slider:nth-child(1):focus ~ .slideshow {
	background-position: 0% 0%;}
	
.slider:nth-child(2):focus ~ .slideshow {
	background-position: 33.32% 0%;}
	
.slider:nth-child(3):focus ~ .slideshow {
	background-position: 66.65% 0%;}
	
.slider:nth-child(4):focus ~ .slideshow {
	background-position: 100% 0%;}

.slider{
	background: #eee;
	width: 10em;
	height: 10em;
	padding: 0em 0.6em 0em 0.6em;
	border-radius: 70em;
	cursor: pointer;
	top: 5em;
	margin: 5em 0.5em 0 0.5em;			/*Abstand zwischen einzelner Punkte*/
	box-shadow: 0em 0.2em 0.5em rgba(0,0,0,0.2);
	transition: background .2s ease;
	border: 0.2em solid rgba(0,0,0,.3);}
	
.slider:hover {
	background: #ddd;}
	
.slider:active {
	background: #666;}